*,html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#main{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}

#title{
    text-align: center;
    padding:12px;
    margin-top: 10px;
}

#main>p{
    text-align: center;
    padding:12px;
}

#img-div{
    max-width :100vw;;
    margin: auto;
    background-color:white;
    padding:10px;
    display:block;
}

#image{
    max-width:100%;
    display:block;
    height:auto;
    margin:0 auto;
}

#img-caption{
  text-align: center;
  line-height: 2em;
  margin:auto;
  padding:12px;
}

#time-line{
   max-width:100%;
   margin:auto;
   display: block;
}

#tribute-info{
    text-align: center;
    font-size: 1em;
    margin:30px 0;
}

ul{
    margin:0 35px auto;
}

ul li{
    padding:15px;
    line-height: 2em;
}

#qts{
    max-width:100vw;
    margin:15px auto;
    padding:15px;
    display:block;
}
#qts p{
    line-height: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#more-info{
    max-width:100vw;
    margin:auto;
}

#more-info h1{
    text-align: center;
    font-size:1em;
    padding:15px;
    line-height: 2em;
}

